In [1]:
import numpy as np
import pandas as pd

In [2]:
car_data = pd.read_csv("Car details v3.csv")
car_data.head(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
5,Hyundai Xcent 1.2 VTVT E Plus,2017,440000,45000,Petrol,Individual,Manual,First Owner,20.14 kmpl,1197 CC,81.86 bhp,113.75nm@ 4000rpm,5.0
6,Maruti Wagon R LXI DUO BSIII,2007,96000,175000,LPG,Individual,Manual,First Owner,17.3 km/kg,1061 CC,57.5 bhp,"7.8@ 4,500(kgm@ rpm)",5.0
7,Maruti 800 DX BSII,2001,45000,5000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
8,Toyota Etios VXD,2011,350000,90000,Diesel,Individual,Manual,First Owner,23.59 kmpl,1364 CC,67.1 bhp,170Nm@ 1800-2400rpm,5.0
9,Ford Figo Diesel Celebration Edition,2013,200000,169000,Diesel,Individual,Manual,First Owner,20.0 kmpl,1399 CC,68.1 bhp,160Nm@ 2000rpm,5.0

In [3]:
car_data["name"].unique()

array(['Maruti Swift Dzire VDI', 'Skoda Rapid 1.5 TDI Ambition',
       'Honda City 2017-2020 EXi', ..., 'Tata Nexon 1.5 Revotorq XT',
       'Ford Freestyle Titanium Plus Diesel BSIV',
       'Toyota Innova 2.5 GX (Diesel) 8 Seater BS IV'], dtype=object)

In [4]:
car_data["mileage"].unique()

array(['23.4 kmpl', '21.14 kmpl', '17.7 kmpl', '23.0 kmpl', '16.1 kmpl',
       '20.14 kmpl', '17.3 km/kg', '23.59 kmpl', '20.0 kmpl',
       '19.01 kmpl', '17.3 kmpl', '19.3 kmpl', nan, '18.9 kmpl',
       '18.15 kmpl', '24.52 kmpl', '19.7 kmpl', '22.54 kmpl', '21.0 kmpl',
       '25.5 kmpl', '26.59 kmpl', '21.5 kmpl', '20.3 kmpl', '21.4 kmpl',
       '24.7 kmpl', '18.2 kmpl', '16.8 kmpl', '24.3 kmpl', '14.0 kmpl',
       '18.6 kmpl', '33.44 km/kg', '23.95 kmpl', '17.0 kmpl',
       '20.63 kmpl', '13.93 kmpl', '16.0 kmpl', '17.8 kmpl', '18.5 kmpl',
       '12.55 kmpl', '12.99 kmpl', '14.8 kmpl', '13.5 kmpl', '26.0 kmpl',
       '20.65 kmpl', '27.3 kmpl', '11.36 kmpl', '17.68 kmpl',
       '14.28 kmpl', '18.53 kmpl', '14.84 kmpl', '21.12 kmpl',
       '20.36 kmpl', '21.27 kmpl', '18.16 kmpl', '22.0 kmpl', '25.1 kmpl',
       '20.51 kmpl', '21.66 kmpl', '25.2 kmpl', '22.9 kmpl', '16.02 kmpl',
       '20.54 kmpl', '22.77 kmpl', '15.71 kmpl', '23.1 kmpl',
       '19.02 kmpl', '19.81 kmpl', '26.2 km/kg', '16.47 kmpl',
       '15.04 kmpl', '19.1 kmpl', '21.79 kmpl', '18.8 kmpl', '21.21 kmpl',
       '15.37 kmpl', '11.79 kmpl', '19.0 kmpl', '14.3 kmpl', '15.8 kmpl',
       '15.1 kmpl', '19.09 kmpl', '22.32 kmpl', '21.9 kmpl', '14.53 kmpl',
       '21.63 kmpl', '20.85 kmpl', '20.45 kmpl', '19.67 kmpl',
       '23.01 kmpl', '20.77 kmpl', '17.92 kmpl', '17.01 kmpl',
       '22.37 kmpl', '19.33 kmpl', '9.5 kmpl', '12.83 kmpl', '22.48 kmpl',
       '16.78 kmpl', '14.67 kmpl', '15.0 kmpl', '13.96 kmpl', '18.0 kmpl',
       '12.07 kmpl', '26.21 kmpl', '10.8 kmpl', '16.3 kmpl', '13.6 kmpl',
       '14.74 kmpl', '15.6 kmpl', '19.56 kmpl', '22.69 kmpl',
       '19.16 kmpl', '18.12 kmpl', '12.1 kmpl', '17.5 kmpl', '42.0 kmpl',
       '20.4 kmpl', '21.1 kmpl', '19.44 kmpl', '13.0 kmpl', '21.43 kmpl',
       '22.95 kmpl', '16.2 kmpl', '15.3 kmpl', '28.09 kmpl', '17.4 kmpl',
       '19.4 kmpl', '26.6 km/kg', '17.6 kmpl', '28.4 kmpl', '14.1 kmpl',
       '25.17 kmpl', '22.74 kmpl', '17.57 kmpl', '16.95 kmpl',
       '19.49 kmpl', '17.21 kmpl', '13.2 kmpl', '14.2 kmpl', '26.8 kmpl',
       '25.4 kmpl', '11.5 kmpl', '27.28 kmpl', '17.97 kmpl', '12.8 kmpl',
       '16.55 kmpl', '12.05 kmpl', '14.07 kmpl', '21.02 kmpl',
       '11.57 kmpl', '17.9 kmpl', '15.96 kmpl', '17.1 kmpl', '17.19 kmpl',
       '21.01 kmpl', '24.0 kmpl', '25.6 kmpl', '21.38 kmpl', '23.84 kmpl',
       '23.08 kmpl', '14.24 kmpl', '20.71 kmpl', '15.64 kmpl',
       '14.5 kmpl', '16.34 kmpl', '27.39 kmpl', '11.1 kmpl', '13.9 kmpl',
       '20.88 km/kg', '20.92 kmpl', '23.8 kmpl', '24.4 kmpl',
       '15.29 kmpl', '21.19 kmpl', '22.5 kmpl', '19.6 kmpl', '23.65 kmpl',
       '25.32 kmpl', '23.5 kmpl', '16.6 kmpl', '23.9 kmpl', '20.8 kmpl',
       '27.62 kmpl', '12.9 kmpl', '25.44 kmpl', '17.88 kmpl', '22.7 kmpl',
       '17.2 kmpl', '15.42 kmpl', '19.68 kmpl', '18.7 kmpl', '15.4 kmpl',
       '19.34 kmpl', '22.71 kmpl', '25.8 kmpl', '13.7 kmpl', '12.2 kmpl',
       '18.49 kmpl', '9.0 kmpl', '0.0 kmpl', '13.58 kmpl', '10.1 kmpl',
       '20.5 kmpl', '25.0 kmpl', '10.5 kmpl', '22.07 kmpl', '22.3 kmpl',
       '15.26 kmpl', '20.62 kmpl', '27.4 kmpl', '23.2 kmpl', '14.4 kmpl',
       '18.4 kmpl', '30.46 km/kg', '14.02 kmpl', '11.0 kmpl', '20.6 kmpl',
       '22.05 kmpl', '20.2 kmpl', '18.1 kmpl', '22.1 kmpl', '19.87 kmpl',
       '13.01 kmpl', '18.06 kmpl', '26.1 kmpl', '16.52 kmpl',
       '13.55 kmpl', '24.2 kmpl', '25.83 kmpl', '11.2 kmpl', '17.09 kmpl',
       '21.03 kmpl', '17.45 kmpl', '21.64 kmpl', '21.94 km/kg',
       '13.87 kmpl', '19.98 kmpl', '20.52 kmpl', '23.57 kmpl',
       '11.7 kmpl', '17.43 kmpl', '18.88 kmpl', '13.68 kmpl',
       '11.18 kmpl', '20.89 kmpl', '11.8 kmpl', '19.62 kmpl', '21.7 kmpl',
       '14.9 kmpl', '19.5 kmpl', '10.91 kmpl', '15.7 kmpl', '20.73 kmpl',
       '15.85 kmpl', '20.7 kmpl', '14.23 kmpl', '16.5 kmpl', '17.36 kmpl',
       '12.6 kmpl', '16.36 kmpl', '14.95 kmpl', '16.9 kmpl', '19.2 kmpl',
       '16.96 kmpl', '22.15 kmpl', '18.78 kmpl', '19.61 kmpl',
       '17.71 kmpl', '18.3 kmpl', '19.12 kmpl', '19.72 kmpl', '12.0 kmpl',
       '11.4 kmpl', '23.03 kmpl', '11.07 kmpl', '15.9 kmpl', '17.67 kmpl',
       '20.46 kmpl', '13.1 kmpl', '13.45 km/kg', '24.8 kmpl',
       '15.73 kmpl', '15.11 kmpl', '12.7 kmpl', '21.2 kmpl', '20.38 kmpl',
       '21.56 kmpl', '13.22 kmpl', '14.49 kmpl', '15.05 kmpl',
       '23.26 kmpl', '15.41 kmpl', '13.8 kmpl', '22.27 kmpl',
       '32.52 km/kg', '14.66 kmpl', '12.12 kmpl', '16.84 kmpl',
       '14.09 kmpl', '14.7 kmpl', '13.4 kmpl', '15.5 kmpl', '13.49 kmpl',
       '11.88 km/kg', '14.6 kmpl', '10.75 kmpl', '24.5 kmpl',
       '11.74 kmpl', '16.07 kmpl', '15.63 kmpl', '26.3 km/kg',
       '23.7 km/kg', '25.47 kmpl', '17.05 kmpl', '23.3 kmpl', '11.9 kmpl',
       '13.38 kmpl', '20.86 kmpl', '19.2 km/kg', '10.9 kmpl',
       '18.25 kmpl', '15.2 kmpl', '20.37 kmpl', '17.8 km/kg', '21.8 kmpl',
       '11.96 kmpl', '24.04 kmpl', '19.69 kmpl', '13.73 kmpl',
       '21.04 kmpl', '25.01 kmpl', '10.93 kmpl', '10.9 km/kg',
       '24.29 kmpl', '13.44 kmpl', '20.07 kmpl', '21.1 km/kg',
       '19.08 kmpl', '20.34 kmpl', '11.68 kmpl', '12.5 kmpl', '12.3 kmpl',
       '23.87 kmpl', '16.38 kmpl', '17.42 kmpl', '10.0 kmpl',
       '18.24 kmpl', '10.71 kmpl', '19.59 kmpl', '16.7 kmpl',
       '19.83 kmpl', '21.76 kmpl', '16.05 kmpl', '20.28 kmpl',
       '16.25 kmpl', '16.73 kmpl', '18.48 kmpl', '13.2 km/kg',
       '21.4 km/kg', '14.99 kmpl', '18.76 kmpl', '16.4 kmpl',
       '19.64 kmpl', '14.94 kmpl', '16.6 km/kg', '16.0 km/kg',
       '17.11 kmpl', '22.8 km/kg', '32.26 km/kg', '33.0 km/kg',
       '12.4 kmpl', '18.44 kmpl', '16.09 kmpl', '19.0 km/kg',
       '12.62 kmpl', '21.13 kmpl', '15.17 kmpl', '21.73 kmpl',
       '21.72 kmpl', '12.85 kmpl', '14.81 kmpl', '13.24 kmpl',
       '14.4 km/kg', '21.49 kmpl', '14.62 kmpl', '26.83 km/kg',
       '11.45 kmpl', '12.08 kmpl', '15.74 kmpl', '11.3 kmpl',
       '15.1 km/kg', '14.21 kmpl', '11.72 kmpl', '16.51 kmpl'],
      dtype=object)

In [5]:
car_data["engine"].unique()

array(['1248 CC', '1498 CC', '1497 CC', '1396 CC', '1298 CC', '1197 CC',
       '1061 CC', '796 CC', '1364 CC', '1399 CC', '1461 CC', '993 CC',
       nan, '1198 CC', '1199 CC', '998 CC', '1591 CC', '2179 CC',
       '1368 CC', '2982 CC', '2494 CC', '2143 CC', '2477 CC', '1462 CC',
       '2755 CC', '1968 CC', '1798 CC', '1196 CC', '1373 CC', '1598 CC',
       '1998 CC', '1086 CC', '1194 CC', '1172 CC', '1405 CC', '1582 CC',
       '999 CC', '2487 CC', '1999 CC', '3604 CC', '2987 CC', '1995 CC',
       '1451 CC', '1969 CC', '2967 CC', '2497 CC', '1797 CC', '1991 CC',
       '2362 CC', '1493 CC', '1599 CC', '1341 CC', '1794 CC', '799 CC',
       '1193 CC', '2696 CC', '1495 CC', '1186 CC', '1047 CC', '2498 CC',
       '2956 CC', '2523 CC', '1120 CC', '624 CC', '1496 CC', '1984 CC',
       '2354 CC', '814 CC', '793 CC', '1799 CC', '936 CC', '1956 CC',
       '1997 CC', '1499 CC', '1948 CC', '2997 CC', '2489 CC', '2499 CC',
       '2609 CC', '2953 CC', '1150 CC', '1994 CC', '1388 CC', '1527 CC',
       '2199 CC', '995 CC', '2993 CC', '1586 CC', '1390 CC', '909 CC',
       '2393 CC', '3198 CC', '1339 CC', '2835 CC', '2092 CC', '1595 CC',
       '2496 CC', '1596 CC', '1597 CC', '2596 CC', '2148 CC', '1299 CC',
       '1590 CC', '2231 CC', '2694 CC', '2200 CC', '1795 CC', '1896 CC',
       '1796 CC', '1422 CC', '1489 CC', '2359 CC', '2197 CC', '2999 CC',
       '1781 CC', '2650 CC', '1343 CC', '2446 CC', '3498 CC', '2198 CC',
       '2776 CC', '1950 CC'], dtype=object)

In [6]:
car_data["max_power"].unique()

array(['74 bhp', '103.52 bhp', '78 bhp', '90 bhp', '88.2 bhp',
       '81.86 bhp', '57.5 bhp', '37 bhp', '67.1 bhp', '68.1 bhp',
       '108.45 bhp', '60 bhp', '73.9 bhp', nan, '67 bhp', '82 bhp',
       '88.5 bhp', '46.3 bhp', '88.73 bhp', '64.1 bhp', '98.6 bhp',
       '88.8 bhp', '83.81 bhp', '83.1 bhp', '47.3 bhp', '73.8 bhp',
       '34.2 bhp', '35 bhp', '81.83 bhp', '40.3 bhp', '121.3 bhp',
       '138.03 bhp', '160.77 bhp', '117.3 bhp', '116.3 bhp', '83.14 bhp',
       '67.05 bhp', '168.5 bhp', '100 bhp', '120.7 bhp', '98.63 bhp',
       '175.56 bhp', '103.25 bhp', '171.5 bhp', '100.6 bhp', '174.33 bhp',
       '187.74 bhp', '170 bhp', '78.9 bhp', '88.76 bhp', '86.8 bhp',
       '108.495 bhp', '108.62 bhp', '93.7 bhp', '103.6 bhp', '98.59 bhp',
       '189 bhp', '67.04 bhp', '68.05 bhp', '58.2 bhp', '82.85 bhp',
       '81.80 bhp', '73 bhp', '120 bhp', '94.68 bhp', '160 bhp', '65 bhp',
       '155 bhp', '69.01 bhp', '126.32 bhp', '138.1 bhp', '83.8 bhp',
       '126.2 bhp', '98.96 bhp', '62.1 bhp', '86.7 bhp', '188 bhp',
       '214.56 bhp', '177 bhp', '280 bhp', '148.31 bhp', '254.79 bhp',
       '190 bhp', '177.46 bhp', '204 bhp', '141 bhp', '117.6 bhp',
       '241.4 bhp', '282 bhp', '150 bhp', '147.5 bhp', '108.5 bhp',
       '103.5 bhp', '183 bhp', '181.04 bhp', '157.7 bhp', '164.7 bhp',
       '91.1 bhp', '400 bhp', '68 bhp', '75 bhp', '85.8 bhp', '87.2 bhp',
       '53 bhp', '118 bhp', '103.2 bhp', '83 bhp', '84 bhp', '58.16 bhp',
       '147.94 bhp', '74.02 bhp', '53.3 bhp', '80 bhp', '88.7 bhp',
       '97.7 bhp', '121.36 bhp', '162 bhp', '140 bhp', '94 bhp',
       '100.57 bhp', '82.9 bhp', '83.11 bhp', '70 bhp', '153.86 bhp',
       '121 bhp', '126.3 bhp', '73.97 bhp', '171 bhp', '69 bhp',
       '99.6 bhp', '102 bhp', '105 bhp', '63 bhp', '79.4 bhp', '97.9 bhp',
       '63.1 bhp', '66.1 bhp', '110 bhp', '174.5 bhp', '53.26 bhp',
       '73.75 bhp', '67.06 bhp', '64.08 bhp', '37.5 bhp', '189.3 bhp',
       '158.8 bhp', '61.7 bhp', '55.2 bhp', '71.01 bhp', '73.74 bhp',
       '147.9 bhp', '71 bhp', '77 bhp', '121.4 bhp', '113.4 bhp',
       '47 bhp', '130 bhp', '57.6 bhp', '138 bhp', '52.8 bhp',
       '53.64 bhp', '53.5 bhp', '76.8 bhp', '82.4 bhp', '113.42 bhp',
       '76 bhp', '84.8 bhp', '0', '56.3 bhp', '218 bhp', '112 bhp',
       '92 bhp', '105.5 bhp', '169 bhp', '95 bhp', '72.4 bhp', '115 bhp',
       '152 bhp', '91.2 bhp', '156 bhp', '74.9 bhp', '62 bhp',
       '105.3 bhp', '73.94 bhp', '85.80 bhp', '85 bhp', '118.3 bhp',
       '72 bhp', '147.51 bhp', '58 bhp', '64 bhp', '126.24 bhp',
       '76.9 bhp', '194.3 bhp', '99.23 bhp', '89.84 bhp', '123.7 bhp',
       '118.35 bhp', '99 bhp', '241 bhp', '136 bhp', '261.4 bhp',
       '104.68 bhp', '37.48 bhp', '104 bhp', '88.50 bhp', '63.12 bhp',
       '91.7 bhp', '102.5 bhp', '177.6 bhp', '45 bhp', '123.37 bhp',
       '147.8 bhp', '184 bhp', '84.48 bhp', '68.07 bhp', '74.96 bhp',
       '167.6 bhp', '152.87 bhp', '112.2 bhp', '83.83 bhp', '197 bhp',
       '110.4 bhp', '104.55 bhp', '103 bhp', '103.3 bhp', '66 bhp',
       '108.6 bhp', '165 bhp', '163.7 bhp', '116.9 bhp', '94.93 bhp',
       '127 bhp', '198.5 bhp', '179.5 bhp', '120.69 bhp', '121.31 bhp',
       '138.08 bhp', '187.7 bhp', '80.8 bhp', '86.79 bhp', '93.87 bhp',
       '116.6 bhp', '143 bhp', '92.7 bhp', '88 bhp', '58.33 bhp',
       '78.8 bhp', '64.4 bhp', '125 bhp', '139.01 bhp', '254.8 bhp',
       '181 bhp', '258 bhp', '55.23 bhp', '270.9 bhp', '265 bhp',
       '157.75 bhp', '101 bhp', '186 bhp', '187.4 bhp', '224 bhp',
       '64.9 bhp', '148 bhp', '35.5 bhp', '89.75 bhp', '32.8 bhp',
       '91.72 bhp', '106 bhp', '98.97 bhp', '66.6 bhp', '86 bhp',
       '65.3 bhp', '98.82 bhp', '198.25 bhp', '38 bhp', '142 bhp',
       '132 bhp', '174.57 bhp', '178 bhp', '163.2 bhp', '203.2 bhp',
       '177.5 bhp', '175 bhp', '57 bhp', '80.84 bhp', '68.4 bhp',
       '167.67 bhp', '170.63 bhp', '52 bhp', '149.5 bhp', '48.21 bhp',
       ' bhp', '201.1 bhp', '100.5 bhp', '144 bhp', '194.4 bhp',
       '168.7 bhp', '104.5 bhp', '103.26 bhp', '116.4 bhp', '98.79 bhp',
       '80.9 bhp', '58.3 bhp', '272 bhp', '235 bhp', '167.62 bhp',
       '170.30 bhp', '139.46 bhp', '158 bhp', '110.5 bhp', '82.5 bhp',
       '141.1 bhp', '38.4 bhp', '197.2 bhp', '161 bhp', '194 bhp',
       '122.4 bhp', '134.10 bhp', '60.2 bhp', '134 bhp', '203 bhp',
       '135.1 bhp'], dtype=object)

In [7]:
car_data.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64

## quality needed
- only 3 char is needed in name rest one will remove
- drop mileage column 
- split the value in engine and convert object into int
- drop max power and torque column
- remove all the nan value
- remove outliers if any
- convert float value of seat into int
- in outliers seats value is 14 and remove those vale which is above 9

In [8]:
car_data["name"] = car_data['name'].str.split(" ").str.slice(0,3).str.join(" ")

In [9]:
car_data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [10]:
car_data.drop(["mileage"], axis = 1 , inplace = True)

In [11]:
car_data.drop(["max_power", "torque"] ,axis = 1 , inplace = True)

In [12]:
car_data.head(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,engine,seats
0,Maruti Swift Dzire,2014,450000,145500,Diesel,Individual,Manual,First Owner,1248 CC,5.0
1,Skoda Rapid 1.5,2014,370000,120000,Diesel,Individual,Manual,Second Owner,1498 CC,5.0
2,Honda City 2017-2020,2006,158000,140000,Petrol,Individual,Manual,Third Owner,1497 CC,5.0
3,Hyundai i20 Sportz,2010,225000,127000,Diesel,Individual,Manual,First Owner,1396 CC,5.0
4,Maruti Swift VXI,2007,130000,120000,Petrol,Individual,Manual,First Owner,1298 CC,5.0
5,Hyundai Xcent 1.2,2017,440000,45000,Petrol,Individual,Manual,First Owner,1197 CC,5.0
6,Maruti Wagon R,2007,96000,175000,LPG,Individual,Manual,First Owner,1061 CC,5.0
7,Maruti 800 DX,2001,45000,5000,Petrol,Individual,Manual,Second Owner,796 CC,4.0
8,Toyota Etios VXD,2011,350000,90000,Diesel,Individual,Manual,First Owner,1364 CC,5.0
9,Ford Figo Diesel,2013,200000,169000,Diesel,Individual,Manual,First Owner,1399 CC,5.0

In [13]:
car_data.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
engine           221
seats            221
dtype: int64

In [14]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   engine         7907 non-null   object
 9   seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(6)
memory usage: 635.1+ KB

In [15]:
car_data["engine"].value_counts()

1248 CC    1017
1197 CC     832
998 CC      453
796 CC      444
2179 CC     389
           ...
3498 CC       1
2835 CC       1
2197 CC       1
2446 CC       1
1339 CC       1
Name: engine, Length: 121, dtype: int64

In [16]:
car_data["engine"]= car_data['engine'].fillna("1248 cc")

In [17]:
car_data["engine"] = car_data["engine"].str.split(" ").str.get(0).astype(int)

In [18]:
car_data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,engine,seats
0,Maruti Swift Dzire,2014,450000,145500,Diesel,Individual,Manual,First Owner,1248,5.0
1,Skoda Rapid 1.5,2014,370000,120000,Diesel,Individual,Manual,Second Owner,1498,5.0
2,Honda City 2017-2020,2006,158000,140000,Petrol,Individual,Manual,Third Owner,1497,5.0
3,Hyundai i20 Sportz,2010,225000,127000,Diesel,Individual,Manual,First Owner,1396,5.0
4,Maruti Swift VXI,2007,130000,120000,Petrol,Individual,Manual,First Owner,1298,5.0

In [19]:
car_data["seats"] = car_data["seats"].fillna("5.0")

In [20]:
car_data.head(20)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,engine,seats
0,Maruti Swift Dzire,2014,450000,145500,Diesel,Individual,Manual,First Owner,1248,5
1,Skoda Rapid 1.5,2014,370000,120000,Diesel,Individual,Manual,Second Owner,1498,5
2,Honda City 2017-2020,2006,158000,140000,Petrol,Individual,Manual,Third Owner,1497,5
3,Hyundai i20 Sportz,2010,225000,127000,Diesel,Individual,Manual,First Owner,1396,5
4,Maruti Swift VXI,2007,130000,120000,Petrol,Individual,Manual,First Owner,1298,5
5,Hyundai Xcent 1.2,2017,440000,45000,Petrol,Individual,Manual,First Owner,1197,5
6,Maruti Wagon R,2007,96000,175000,LPG,Individual,Manual,First Owner,1061,5
7,Maruti 800 DX,2001,45000,5000,Petrol,Individual,Manual,Second Owner,796,4
8,Toyota Etios VXD,2011,350000,90000,Diesel,Individual,Manual,First Owner,1364,5
9,Ford Figo Diesel,2013,200000,169000,Diesel,Individual,Manual,First Owner,1399,5
10,Renault Duster 110PS,2014,500000,68000,Diesel,Individual,Manual,Second Owner,1461,5
11,Maruti Zen LX,2005,92000,100000,Petrol,Individual,Manual,Second Owner,993,5
12,Maruti Swift Dzire,2009,280000,140000,Diesel,Individual,Manual,Second Owner,1248,5
13,Maruti Swift 1.3,2007,200000,80000,Petrol,Individual,Manual,Second Owner,1248,5.0
14,Maruti Wagon R,2009,180000,90000,Petrol,Individual,Manual,Second Owner,1061,5
15,Mahindra KUV 100,2016,400000,40000,Petrol,Individual,Manual,First Owner,1198,5
16,Maruti Ertiga SHVS,2016,778000,70000,Diesel,Individual,Manual,Second Owner,1248,7
17,Hyundai i20 1.4,2012,500000,53000,Diesel,Individual,Manual,Second Owner,1396,5
18,Maruti Alto LX,2002,150000,80000,Petrol,Individual,Manual,Second Owner,796,5
19,Hyundai i20 2015-2017,2016,680000,100000,Diesel,Individual,Manual,First Owner,1396,5

In [21]:
car_data["seats"].unique()

array([5.0, 4.0, '5.0', 7.0, 8.0, 6.0, 9.0, 10.0, 14.0, 2.0], dtype=object)

In [22]:
car_data["seats"].isnull().sum()

0

In [23]:
car_data["seats"] = car_data["seats"].astype(float)

In [24]:
car_data['seats'].unique()

array([ 5.,  4.,  7.,  8.,  6.,  9., 10., 14.,  2.])

In [25]:
car_data["seats"] = car_data["seats"].astype(int)

In [26]:
car_data = car_data[car_data["seats"]<9]

In [27]:
car_data["seats"].unique()

array([5, 4, 7, 8, 6, 2])

In [28]:
car_data["seats"].isnull().sum()

0

In [29]:
car_data["seats"]

0       5
1       5
2       5
3       5
4       5
       ..
8123    5
8124    5
8125    5
8126    5
8127    5
Name: seats, Length: 8028, dtype: int32

In [30]:
car_data.head(20)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,engine,seats
0,Maruti Swift Dzire,2014,450000,145500,Diesel,Individual,Manual,First Owner,1248,5
1,Skoda Rapid 1.5,2014,370000,120000,Diesel,Individual,Manual,Second Owner,1498,5
2,Honda City 2017-2020,2006,158000,140000,Petrol,Individual,Manual,Third Owner,1497,5
3,Hyundai i20 Sportz,2010,225000,127000,Diesel,Individual,Manual,First Owner,1396,5
4,Maruti Swift VXI,2007,130000,120000,Petrol,Individual,Manual,First Owner,1298,5
5,Hyundai Xcent 1.2,2017,440000,45000,Petrol,Individual,Manual,First Owner,1197,5
6,Maruti Wagon R,2007,96000,175000,LPG,Individual,Manual,First Owner,1061,5
7,Maruti 800 DX,2001,45000,5000,Petrol,Individual,Manual,Second Owner,796,4
8,Toyota Etios VXD,2011,350000,90000,Diesel,Individual,Manual,First Owner,1364,5
9,Ford Figo Diesel,2013,200000,169000,Diesel,Individual,Manual,First Owner,1399,5
10,Renault Duster 110PS,2014,500000,68000,Diesel,Individual,Manual,Second Owner,1461,5
11,Maruti Zen LX,2005,92000,100000,Petrol,Individual,Manual,Second Owner,993,5
12,Maruti Swift Dzire,2009,280000,140000,Diesel,Individual,Manual,Second Owner,1248,5
13,Maruti Swift 1.3,2007,200000,80000,Petrol,Individual,Manual,Second Owner,1248,5
14,Maruti Wagon R,2009,180000,90000,Petrol,Individual,Manual,Second Owner,1061,5
15,Mahindra KUV 100,2016,400000,40000,Petrol,Individual,Manual,First Owner,1198,5
16,Maruti Ertiga SHVS,2016,778000,70000,Diesel,Individual,Manual,Second Owner,1248,7
17,Hyundai i20 1.4,2012,500000,53000,Diesel,Individual,Manual,Second Owner,1396,5
18,Maruti Alto LX,2002,150000,80000,Petrol,Individual,Manual,Second Owner,796,5
19,Hyundai i20 2015-2017,2016,680000,100000,Diesel,Individual,Manual,First Owner,1396,5

In [31]:
car_data.shape

(8028, 10)

In [32]:
car_data.describe()

              year  selling_price     km_driven       engine        seats
count  8028.000000   8.028000e+03  8.028000e+03  8028.000000  8028.000000
mean   2013.817015   6.403954e+05  6.927684e+04  1441.016941     5.357623
std       4.049651   8.107670e+05  5.629823e+04   489.057225     0.849322
min    1983.000000   2.999900e+04  1.000000e+00   624.000000     2.000000
25%    2011.000000   2.509990e+05  3.500000e+04  1197.000000     5.000000
50%    2015.000000   4.500000e+05  6.000000e+04  1248.000000     5.000000
75%    2017.000000   6.800000e+05  9.527500e+04  1498.000000     5.000000
max    2020.000000   1.000000e+07  2.360457e+06  3604.000000     8.000000

In [33]:
car_data[car_data['selling_price']>6e6]

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,engine,seats
170,Volvo XC90 T8,2017,10000000,30000,Petrol,Individual,Automatic,First Owner,1969,4
2938,BMW X7 xDrive,2020,7200000,5000,Diesel,Individual,Automatic,First Owner,2993,7
4950,Audi A6 35,2019,6223000,7800,Petrol,Dealer,Automatic,Test Drive Car,1798,5
4952,Audi A6 35,2019,6523000,23600,Petrol,Dealer,Automatic,Test Drive Car,1798,5

In [34]:
car_data.to_csv("cleaned car data.csv")

## train our model

In [35]:
x = car_data.drop(["selling_price"],axis= 1)
y = car_data["selling_price"]

In [36]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test = train_test_split(x,y,test_size = 0.3)

In [37]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [38]:
ohe = OneHotEncoder()
ohe.fit(x[['name', "fuel","seller_type","transmission","owner"]])

OneHotEncoder()

In [39]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name', "fuel","seller_type","transmission","owner"]),remainder = "passthrough")

In [40]:
lr = LinearRegression()

In [41]:
pipe = make_pipeline(column_trans, lr)

In [42]:
pipe.fit(x_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Ambassador CLASSIC 1500', 'Ambassador Classic 2000',
       'Ambassador Grand 1500', 'Ambassador Grand 2000',
       'Ashok Leyland Stile', 'Audi A3 35', 'Audi A3 40', 'Audi A4 1.8',
       'Audi A4 2.0', 'Audi A4 35', 'Audi A6 2.0', 'Audi A6 35',
       'Audi Q3 2.0', 'Au...
                                                                            array(['CNG', 'Diesel', 'LPG', 'Petrol'], dtype=object),
                                                                            array(['Dealer', 'Individual', 'Trustmark Dealer'], dtype=object),
                                                                            array(['Automatic', 'Manual'], dtype=object),
                                                                            array(['First Owner', 'Fourth & Above Owner', 'Second Owner',
       'Test Drive Car', 'Third Owner'], dtype=object)]),
                                                  ['name', 'fuel',
                                                   'seller_type',
                                                   'transmission',
                                                   'owner'])])),
                ('linearregression', LinearRegression())])

In [43]:
y_pred = pipe.predict(x_test)

In [44]:
y_pred

array([634266.99579281, 496993.69938369, 229713.65865052, ...,
       854772.18422726, 331479.94893701, 508551.47115842])

In [45]:
r2_score(y_test, y_pred)

0.9242279047150237

## select random state which is stable and where r2 score is more

In [46]:
score=[]
for i in range(100):
    x_train, x_test, y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = i)
    lr = LinearRegression()
    pipe = make_pipeline(column_trans, lr)
    pipe.fit(x_train, y_train)
    y_pred= pipe.predict(x_test)
    score.append(r2_score(y_test,y_pred))
# print(r2_score(y_test, y_pred),i)

In [47]:
np.argmax(score)

23

In [48]:
x_train, x_test, y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 23)
lr = LinearRegression()
pipe = make_pipeline(column_trans, lr)
pipe.fit(x_train, y_train)
y_pred= pipe.predict(x_test)
r2_score(y_test,y_pred)

0.9664674667745705

In [49]:
import pickle

In [50]:
pickle.dump(pipe,open("linearregcarmodel.sav", "wb"))

In [51]:
loaded_model = pickle.load(open("linearregcarmodel.sav", "rb"))
loaded_model

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Ambassador CLASSIC 1500', 'Ambassador Classic 2000',
       'Ambassador Grand 1500', 'Ambassador Grand 2000',
       'Ashok Leyland Stile', 'Audi A3 35', 'Audi A3 40', 'Audi A4 1.8',
       'Audi A4 2.0', 'Audi A4 35', 'Audi A6 2.0', 'Audi A6 35',
       'Audi Q3 2.0', 'Au...
                                                                            array(['CNG', 'Diesel', 'LPG', 'Petrol'], dtype=object),
                                                                            array(['Dealer', 'Individual', 'Trustmark Dealer'], dtype=object),
                                                                            array(['Automatic', 'Manual'], dtype=object),
                                                                            array(['First Owner', 'Fourth & Above Owner', 'Second Owner',
       'Test Drive Car', 'Third Owner'], dtype=object)]),
                                                  ['name', 'fuel',
                                                   'seller_type',
                                                   'transmission',
                                                   'owner'])])),
                ('linearregression', LinearRegression())])

In [52]:
pipe.predict(pd.DataFrame([["Skoda Rapid 1.5",2019, 220000, "Petrol","Individual","Manual","Second Owner",1498,5]],columns=["name", "year","km_driven","fuel","seller_type","transmission","owner","engine","seats"]))

array([696675.77310458])